<div id="add-news-block">
    <form class="add-news-form" name="addNewsForm">
        <fieldset>
        <span>Заголовок статьи: </span>
        <textarea name="title" rows="3" cols="100" class="add-news-form-title" maxlength="150"
                  placeholder="Длинна заголовка не более 100 символов"></textarea>
        <br>
        <span>Краткое описание новости: </span>
        <textarea name="summary" rows="5" cols="100" class="add-news-form-summary" maxlength="300"
                  placeholder="Краткое описание не более 250 символов"></textarea>
        <br>
        <span>Основное содержание: </span>
        <textarea name="content" rows="15" cols="100" class="add-news-form-content"
                  placeholder=""></textarea>
        <br>
        <span>Ссылка на изображение: </span>
        <textarea name="image" rows="1" cols="100" class="add-news-form-image"
                  placeholder="Вставте ссылку на изображение"></textarea>
        <br>

        <span>Выберите категорию: </span>
        <textarea name="section" rows="1" cols="100" class="add-news-form-section"
                  placeholder="Категория"></textarea>
        <br>
            <label class="main-button-label">
                <a class="main-button">Добавить новость</a>
            </label>
        </fieldset>
        <br><br>
        <br><br>
    </form>
</div>