<div class="login-form">
<form action="action_page.php">
    <div class="imgcontainer">
        <img src="https://i.ibb.co/Mhq6wBg/img-avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label><b>Логин</b></label>

        <br>

        <input class="user-name" type="text" placeholder="Введите логин" name="userName" required>

        <br>
        <br>

        <label for="psw"><b>Пароль</b></label>
        <input class="user-password" type="password" placeholder="Введите пароль" name="password" required>

        <br>
        <label for="psw"><b>Повторите пароль</b></label>
        <input class="user-password-two" type="password" placeholder="Повторите пароль" name="password" required>

        <br>
        <br>

        <a class="login-button">Регистрация</a>
<!--        <label>-->
<!--            <input type="checkbox" checked="checked" name="remember"> Remember me-->
<!--        </label>-->

        <br>
    </div>

    <div class="container">
        <a class="cancelbtn" href="#/">Назад</a>
    </div>
</form>
</div>